<ion-view view-title="Puntuación">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="player in players" class="item-button-right">
                {{ player.score}} - {{ player.name}}
                &nbsp;
                <div class="buttons">
                    <button type="button" class="button button-small icon ion-ios-mic button-positive" ng-click="scoreUpStoryTeller($index)"></button>
                    <button type="button" class="button button-small icon ion-ios-mic button-assertive" ng-click="scoreDownStoryTeller($index)"></button>
                    <button type="button" class="button button-small icon ion-android-done button-positive" ng-click="scoreUpCorrectVote($index)"></button>
                    <button type="button" class="button button-small icon ion-android-done button-assertive" ng-click="scoreDownCorrectVote($index)"></button>
                    <button type="button" class="button button-small icon ion-social-snapchat button-positive" ng-click="scoreUpVoted($index)"></button>
                    <button type="button" class="button button-small icon ion-social-snapchat button-assertive" ng-click="scoreDownVoted($index)"></button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
